.btn {
    @include btn;

    &__principal {
        @include lg-background-color();
        color: white;
        padding-left: 15px;
        padding-right: 15px;
        height: 40px;
        border-radius: 25px;
        @include box-shadow();

        &:hover {
            @include box-shadow(0.8);
        }
    }

    &:hover {
        & .btn__bg {
            opacity: 1;
        }
    }


    &__bg {
        border-radius: 25px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @include lg-background-color($colour-primary,lighten($colour-secondary, 5%));
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms linear;
    }

    &--thin{
    width:40%;
    }
}
