.btn {
    border: none;
    outline: none;
    z-index: 1;
    position: relative;

    &__heart {
        background-color: white;

        &--empty {
            position: relative;
            overflow:hidden;
            z-index:1;

            &:hover + .btn__heart--full {
                opacity: 1;
                transform: scale(1);
            }
        }

        &--full {
            position: absolute;
            opacity: 0;
            transform: scale(0);
            transition: all 1000ms ease-out;
            transform-origin:bottom;

            &:hover {
                opacity: 1;
                transform: scale(1);
            }
        }
    }

    &__principal {
        @include lg-background-color();
        color: white;
        padding-left: 15px;
        padding-right: 15px;
        height: 40px;
        border-radius: 25px;
        @include box-shadow();

        &:hover {
            @include box-shadow(0.8);
        }
    }

    &:hover {
        & .btn__bg {
            opacity: 1;
        }
    }


    &--mh {
        margin: $marge-hight;
    }

    &__bg {
        border-radius: 25px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @include lg-background-color($colour-primary,lighten($colour-secondary, 5%));
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms linear;
    }
}
