*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

main {
    display: flex;

    @media screen and (max-width: 730px) {
        flex-direction: column;
    }
}

a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

h3 {
    margin: $marge-hight;
}

section {
    padding: $padding-section;
}
