*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

main {
    display: flex;

    @media screen and (max-width: 730px) {
        flex-direction: column;
    }
}

a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

h3 {
    margin: $marge-hight;
}

section {
    padding: $padding-section;
}

.mh {
    margin: $marge-hight;
}

.mb {
    &-3 {
        margin-bottom: 3px;
    }

    &-6 {
        margin-bottom: 6px;
    }

    &-9 {
        margin-bottom: 9px;
    }

    &-12 {
        margin-bottom: 12px;
    }

    &-15 {
        margin-bottom: 15px;
    }

    &-30 {
        margin-bottom: 30px;
    }
    &-50 {
        margin-bottom: 350px;
    }
}
