* {
    font-family: 'Roboto', sans-serif;
}

.title {
    &-omf {
        font-family: 'Shrikhand', cursive;
        font-weight: 400;
    }

    &-large {
        font-size: x-large;
    }
}


.uppercase {
    text-transform: uppercase;
}
