.entete {
    margin: 50px 10px 50px 10px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    h3 {
        width: 60%;
        margin: $marge-light;
    }

    p {
        width: 85%;
        margin: $marge-light;
        font-weight: 300;
    }

    button {
        margin: $marge-hight;
    }
}

.localisation {
    text-align: center;
    padding: $marge-half-hight;
    background-color: lightgray;
    font-size: 0.9em;

    i {
        margin-right: $marge-half-hight;
    }
}
