.entete {
    padding: $padding-section;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: lighten(black, 96%);

    h3 {
        width: 60%;
    }

    p {
        width: 85%;
        margin: $marge-light;
        font-weight: 300;
    }

    button {
        margin: $marge-hight;
    }
}

.localisation {
    text-align: center;
    padding: $marge-half-hight;
    background-color: lighten(black, 92%);
    font-size: 0.9em;

    i {
        margin-right: $marge-half-hight;
    }
}

